anyio==3.3.0
astroid==2.7.3
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
h11==0.12.0
httpcore==0.13.6
httpx==0.19.0
idna==3.2
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.2.0
pylint==2.10.2
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.2.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.1
wrapt==1.12.1
